.swiperWrapper {
  width: 100%;
  height: 100%;
  // overflow: hidden;

  & .swiper-wrapper {
    background-color: red !important;

    img {
      width: 90% !important;
      height: 100% !important;
      object-fit: cover;
    }
  }
}